* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;

    & header {
        position: fixed;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        box-shadow: 0 0 10px black;

        & div.logo-image {
            & img {
                margin-left: 25px;
                width: 100px;
                height: 45px;
                object-fit: cover;
                cursor: pointer;
            }
        }

        & nav {
            & ul {
                list-style: none;

                & li {
                    display: inline;
                    margin: 0 15px;

                    & a {
                        text-decoration: none;
                        color: black;
                    }

                    & a:hover {
                        color: blueviolet;
                    }
                }
            }
        }

        & div.signin-buttons {
            margin-right: 75px;

            & button {
                padding: 10px;
                width: 70px;
                border: none;
                border-radius: 3px;
                background-color: rgb(236, 227, 227);
                cursor: pointer;
            }

            & button:hover {
                background-color: blueviolet;
                color: #FFFFFF;
            }
        }
    }

    & main {
        
        & section {
            height: 100vh;
            display: grid;
            place-items: center;
        
            & div.card {
                width: 450px;
                display: grid;
                place-items: center;
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 6px 35px rgba(0, 0, 0, 0.48);

                & div.header-card {
                    font-weight: bold;
                    font-size: 20px;
                    margin: 10px;
                }

                & div.input-card {
                    & form {

                        & div.separator {
                            margin: 25px 0 0 0;

                            & legend {

                            }

                            & input {
                                padding: 8px 8px 8px 12px;
                                width: 410px;
                                border-radius: 5px;
                                border-style: none;
                                background-color: rgba(211, 203, 203, 0.479);
                                height: 25px;
                                margin-top: 5px;
                            }
                        }

                        & div.remember-me {
                            margin-top: 10px;
                            font-size: 14px;
                            display: flex;
                            gap: 5px;

                            & input {
                                background-color: blueviolet;
                            }
                        }

                        & div.buttons {
                            margin-top: 20px;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            & button.sign-in {
                                height: 40px;
                                font-size: 17px;
                                background-color: blueviolet;
                                color: #FFFFFF;
                                border-style: none;
                                border-radius: 5px;
                                cursor: pointer;
                            }

                            & div.sign-in-platforms {
                                display: flex;
                                flex-direction: row;
                                gap: 5px;

                                & button {
                                    padding: 5px;
                                    border-style: none;
                                    border-radius: 5px; 
                                    height: 40px;
                                    width: 212px;
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;

                                    & img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                & div.footer-card {
                    margin: 30px 0 10px 0;
                    font-size: 12px;

                    & a {
                        text-decoration: none;
                        color: blueviolet;
                    }
                }
            }
        }
    }
}